<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>エクスポート</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/inquiry.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <h1>勤怠管理</h1>
        <div class="top-right-buttons">
            <div class="button-group">
                <button href="#" class="icon-circle"><i class="fas fa-house"></i></button>
                <span class="button-label">トップメニュー</span>
            </div>
            <div class="button-group">
				<form th:action="@{/logout}" method="post">
					<button type="submit" class="icon-circle"><i class="fas fa-arrow-right-from-bracket"></i></button>
					<span class="button-label">ログアウト</span>
				</form> 
            </div>
        </div>
    </header>

    <main>
        <div class="content-wrapper">
            <div class="table-button-wrapper">
                <div class="input-table-wrapper">
                    <table class="info-table">
                        <tr>
                            <td><label for="employeeCode">社員コード</label></td>
                            <td><label for="month">年/月</label></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="employeeCode"></td>
                            <td><input type="month" id="month" name="month"></td>
                        </tr>
                    </table>
                    <button t:href="/export" class="inquiry-button">照会</button>
                </div>
            </div>

        </div>
    </main>
</body>

</html>
