<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regist</title>

	<link rel="stylesheet" th:href="@{/css/regist-style.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

	<div class="main-container">
		<header>
			<h1>勤怠管理</h1>
			<div class="top-right-buttons">
				<div class="button-group">
					<a href="/topmenu" class="icon-circle"><i class="fas fa-house"></i></a>
					<span class="button-label">トップメニュー</span>
				</div>
				<div class="button-group">
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="icon-circle"><i class="fas fa-arrow-right-from-bracket"></i></button>
						<span class="button-label">ログアウト</span>
					</form>
				</div>
			</div>
		</header>
		
		
		

		
		<form th:action="@{/regist-post}" th:object="${registForm}" method="POST">
			<table>
				<thead>
					<tr>
						<th>社員コード</th>
						<th>日付</th>
						<th>勤怠区分</th>
						<th>出勤時間</th>
						<th>退勤時間</th>
						<th>実労働時間(分)</th>
						<th>休憩時間(分)</th>
						<th>累積超過時間(分)</th>
						<th>備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>

						<!-- Display a consolidated error message if there are multiple errors -->
						<div th:if="${hasErrors}" style="color: red;">エラー箇所が複数あります</div>

						
						
						<!--社員コード-->
						<td>
							<input type="text" th:field="*{userId}" name="employee_code">
						    <!-- Display individual error messages if there is only one error -->
						</td>
						    <div th:if="${#fields.hasErrors('userId') and !hasErrors}" th:errors="*{userId}" style="color: red;"></div>
						
						
						<!--日付-->
						<td>
						    <input type="date" th:field="*{date}" name="date">
						</td>
						    <div th:if="${#fields.hasErrors('date') and !hasErrors}" th:errors="*{date}" style="color: red;"></div>

						
<!--						勤怠区分-->
<!--						<div th:if="${#fields.hasErrors('workStatus')}" th:errors="*{workStatus}" style="color: red;"></div>						-->

<!--						出勤時間-->
						
<!--						<div th:if="${#fields.hasErrors('clockInTime')}" th:errors="*{clockInTime}" style="color: red;"></div>						-->
<!--						退勤時間-->
						
<!--						<div th:if="${#fields.hasErrors('clockOutTime')}" th:errors="*{clockOutTime}" style="color: red;"></div>						-->
<!--						休憩時間(分)>-->
							
<!--							<div th:if="${#fields.hasErrors('breakTime')}" th:errors="*{breakTime}" style="color: red;"></div>							-->

						<td>
							<select th:field="*{workStatus}" name="work_type">
								<option value="1">出勤</option>
								<option value="2">振出</option>
								<option value="3">年休</option>
								<option value="4">休日</option>
								<option value="5">欠勤</option>
							</select>
						</td>
							<div th:if="${#fields.hasErrors('workStatus') and !hsdErrors}" th:errors="*{workStatus}" style="color: red;"></div>
						
						<!--出勤時刻-->
						<td><input type="time" th:field="*{clockInTime}" name="start_time"></td>
						<div th:if="${#fields.hasErrors('clockInTime') and !hasErrors}" th:errors="*{clockInTime}" style="color: red;"></div>
						
						<!--退勤時刻-->
						<td><input type="time" th:field="*{clockOutTime}" name="end_time"></td>
						<div th:if="${#fields.hasErrors('clockOutTime') and !hasErrors}" th:errors="*{clockOutime}" style="color: red;"></div>
						
						<!--実労働時間-->
						<td><input type="text" th:field="*{actualWorkTime}" name="work_hours" placeholder="例:420"></td>
						<!--休憩時間-->
						<td><input type="text" th:field="*{breakTime}" name="break_time" placeholder="例:60"></td>
						<div th:if="${#fields.hasErrors('breakTime') and !hasErrors}" th:errors="*{breakTime}" style="color: red;"></div>
						<!--累積超過時間-->
<!--						<td><input type="text" name="total_hours" value="1280" readonly></td>-->
						<td><input type="text" th:field="*{cumOverTime}" name="total_hours"></td>
						<!--備考-->
						<td><input type="text" th:field="*{note}" name="remarks" placeholder="備考"></td>
		
						<!--					<td class="submit-button-container">-->
						<!--						<button class="submit-button" type="submit">登録</button>-->
						<!--					</td>-->
		
					</tr>
				</tbody>
			</table>
		
			<div class="submit-button-container">
				<button type="submit" class="submit-button">登録</button>
			</div>
		
			
		</form>
		
	
		        

		
		
	</div>
	
	<script>
	    function toggleTimeFields(workStatus) {
	        const clockInTime = document.getElementById('clockInTime');
	        const clockOutTime = document.getElementById('clockOutTime');
	        if (workStatus == '2' || workStatus == '3' || workStatus == '4' || workStatus == '5') {
	            clockInTime.disabled = true;
	            clockOutTime.disabled = true;
	        } else {
	            clockInTime.disabled = false;
	            clockOutTime.disabled = false;
	        }
	    }


		
		
	</script>


</body>

</html>


