<!DOCTYPE html>
<html lang="ja">
<!--<head>-->
	
	
	
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>登録完了</title>-->
<!--</head>-->

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>regist</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/common_table_styles.css}">
  <link rel="stylesheet" th:href="@{/css/regist.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>


<body>
    <h1>登録が完了しました！</h1>
    <p><a href="/regist">続けて登録する</a></p>
    <p><a href="/topmenu">トップメニューに戻る</a></p>
</body>
</html>