<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>勤怠管理</title>
  <link rel="stylesheet" th:href="@{/css/top_menu.css}">
<!--  <link rel="stylesheet" href="top_menu.css" />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <header>
        <h1>勤怠管理</h1>
        <div class="top-right-buttons">
            <div class="button-group">
                <a href="#" class="icon-circle"><i class="fas fa-arrow-right-from-bracket"></i></a>
                <span class="button-label">ログアウト</span>
            </div>
        </div>

    </header>

  <!--<div class="greeting">こんにちは^^</div>-->

  <div class="menu">
    <!-- 登録ボタン -->
    <button onclick="location.href='/regist'" class="button">
      <div class="icon">
        <!-- 登録アイコン -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
        </svg>
      </div>
	  <div class="label">登録</div>
    </button>

    <!-- 検索・編集ボタン -->
    <button class="button">
      <div class="icon">
        <!-- 検索・編集アイコン -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
      </div>
      <div class="label">検索・編集</div>
    </button>

    <!-- エクスポートボタン -->
    <button onclick="location.href='/export'" class="button">
      <div class="icon">
        <!-- エクスポートアイコン -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
        </svg>
      </div>
      <div class="label">エクスポート</div>
    </button>
  </div>

</body>
</html>
