body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header {
    background-color: #FFFEDA;
    color: #808080;
    padding: 10px 20px;
    position: relative;
    font-size: 16px;
    text-align: left;
}

.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.top-right-buttons a {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center;    /* 中央寄せ */
    text-decoration: none;
    color: #808080;
    margin-left: 10px;
    font-size: 14px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%; /* 丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 6px; /* アイコンと文字の間の余白 */
    transition: background-color 0.3s, color 0.3s;
}

.icon-circle:hover {
    background-color: #9ea7aa;
    color: white;
    cursor: pointer; /* マウスカーソルを手に変える */
}

.button-label {
    pointer-events: none;
    font-size: 12px;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center; /* 中央に配置 */
}

.info-table {
    width: auto; /* テーブルの幅を自動調整 */
    margin: 0;
    border-collapse: collapse;
}

.info-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

label {
    margin-right: 10px;
}

input[type="text"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inquiry-button {
    padding: 10px 30px;
    background-color: #e6fcff;
    color: #808080;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* テーブルとの間にスペースを追加 */
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 16px;
    font-weight: bold;
}

.inquiry-button i {
    margin-right: 8px; /* アイコンとテキストの間にスペースを追加 */
}

.inquiry-button:hover {
    background-color: #d0f1f5;
}

.table-button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* テーブルとボタンの間のスペースを追加 */
}